::before,
::after {
  content: "";
  position: absolute;
}

@blue: dodgerblue;

.paper {
  align-items: center;
  background: #fff;
  border: 2px solid #000;
  border-radius: 2px;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  background: whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  height: 90px;
  width: 90px;
}

.single {
  .paper;
  width: 45px;
  height: 33px;
}

.text {
  background-image: repeating-linear-gradient(
    180deg,
    #fff,
    #fff 2px,
    #000 2px,
    #000 4px
  );
  display: flex;
  flex-direction: row-reverse;
  height: 17px;
  margin: 0 auto;
  position: relative;
  width: 33px;
}

.seal {
  background-image: repeating-radial-gradient(
    circle,
    @blue 0px,
    @blue 3px,
    #fff 3px,
    #fff 4px,
    @blue 4px,
    @blue 6px
  );
  border: 2px solid #fff;
  border-radius: 50%;
  height: 12px;
  left: 26px;
  position: absolute;
  top: 16px;
  width: 12px;
  z-index: 10;
  &::before {
    background: @blue;
    height: 12px;
    left: 2px;
    top: 10px;
    width: 8px;
  }
  &::after {
    width: 0;
    height: 0;
    top: 18px;
    left: 1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid whitesmoke;
  }
}
